<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerstión de Red</title>
</head>
<body>
    <h1>Aplicación para la gestión de redes </h1>
    <nav>
        <div>
            <form action="signup" method="post">
                <button type="submit">Registrate Aquí</button>
            </form>
        </div>
        <div>
            <form action="login" method="post">
                <button type="submit">Inicia Sesion</button>
            </form>
        </div>
    </nav>

</body>
</html>