<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido | Aplicación de Gestión de Redes |</h1>
    <div>
        <form action="signup" method="post" class="php-email-form">
            <div class="row gy-4">
                <div class="col-md-12">
                    <input id="username" type="text" name="name" class="form-control"
                           placeholder="Nombre de Usuario" required>
                </div>
                <div class="col-md-12">
                    <input id="password" type="password" class="form-control" name="subject"
                           placeholder="Password" required>
                </div>

                <div class="col-md-12 text-center">
                    <button type="button" id="btnregistro">Resgistrate</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>